// Shop Menu Ref
$darkest-blue: #00011d;
$dark-blue: #000034;
$light-blue: #3e69b5;
$menu-blue: #000469;
$munny-orange: #e87350;
$munny-gold: #e3ab2b;
$munny-olive: #c2b95b;
$accent: #b47a4d;
$scroll: #797a74;

// Main Menu Ref
$harvest-gold: #e3ad2eff; // munny fill
$burnt-orange: #b56022ff; // munny outline
$garnet: #713432ff; // munny label
$dodger-blue: #2a98fcff; //time fill
$tang-blue: #1c57c9ff; // time outline
$rich-black: #12121cff; // nav fill
$apple-green: #a5b229ff; // lvl
$olive: #6e7530ff; // lvl
$sage: #a9a88aff; // new (outline with munny outline)
$dark-red: #8d0008ff; // Sora's pants
