@use "base";

.featured-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 14rem;
  background-color: base.$menu-blue;
}

.featured-products-grid {
  width: 35%;
  height: 8rem;
  position: absolute;
  background-image: url("https://i.pinimg.com/originals/cb/db/30/cbdb30a0685a1a9b46806d511f727f04.jpg");
  background-size: cover;
  background-position: center;
  color: white;
}

.featured-products-grid h3 {
  font-size: 1.5rem;
  margin: 0;
  padding: 1rem;
  margin-bottom: -1.5rem;
}

.product-card__featured {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  margin-top: 1rem;
  .product-card__name {
    font-weight: 700;
    font-size: larger;
  }
}

// Carousel buttons:
.css-ktslay-MuiButtonBase-root-MuiIconButton-root {
  background-color: base.$menu-blue !important;
}
.css-1m9128y {
  margin-top: 2rem !important;
}

.css-bbreus-MuiButtonBase-root-MuiIconButton-root {
  color: base.$light-blue !important;
}
.css-bbreus-MuiButtonBase-root-MuiIconButton-root:hover {
  color: base.$dark-blue !important;
}
// Current slide button:
.css-8ucetn-MuiButtonBase-root-MuiIconButton-root {
  color: base.$menu-blue !important;
}
